.header {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    padding: 20px 30px;
    box-shadow: 0 0 8px #000000;

    &__navigation {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
    }

    &__title {
        font-weight: 500;
        margin: 0;
    }

    &__link-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    &__link-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__link-separator {
        &::after {
            content: '|';
        }
        padding: 0 5px;
    }
}