<footer class="footer">
    <div class="footer--top">
        <div class="footer__container">
            <section class="footer__column">
                <h3 class="footer__column-title">Some heading</h3>
                <ul class="footer__column-list">
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                </ul>
            </section>
            <section class="footer__column">
                <h3 class="footer__column-title">Some heading</h3>
                <ul class="footer__column-list">
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                </ul>
            </section>
            <section class="footer__column">
                <h3 class="footer__column-title">Some heading</h3>
                <ul class="footer__column-list">
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                </ul>
            </section>
            <section class="footer__column">
                <h3 class="footer__column-title">Some heading</h3>
                <ul class="footer__column-list">
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                    <li>Some awesome option</li>
                </ul>
            </section>
        </div>
    </div>
    <div class="footer--bottom">
        <p>&copy; Copyright 2021</p>
        <p>All rights reserved</p>
    </div>
</footer>
